$HomeLeftBgFirst: #4285f4;
$HomeLeftBgSecond: #f8faff;
$BtnTextColor: #858585;
$PrimaryBorderColor: #4285f4;
$BtnBoxShadowColor: #dbd8d8;
$InputBg: #f5f5f5;
$LinkColor: #346bd4;
$inputFocusBg: #eaeaea;
$cardShadow: #e0e0e0e3;
$cardSmallTextBg:#e9f9eb;
$cardSmallTextColor:#3cc952;